@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1580292909129'); /* IE9 */
  src: url('iconfont.eot?t=1580292909129#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABkAAAAJXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIYQE2AiQDCAsGAAQgBYRtBzQbiwUR1Ys1sq8xNoZZD4BExHSLmZlD3jrXSAt1+OJbH+ACTkACAAAAAARPtPZ7szt3fzHTKmJJNRGSeIJEJFQLhUSDUDSKRfLvhQkeQJ3xdYhoa9MU2SlshGJJbJef/kf+2eFC6BBe9emBBrVYqjSy//bt+gc/4JnKfz6YlLjyDwCf53J6dxVQIPMD5bgXjTVpUi+gXhxIAY21KbISyrhh7IIXeBwChJJJOdJ+6R/HodjjBJCtZnUeV3CjKIs5BL9hqSLn4OHMafIAnEXflx9qxYHBs9gFwysdSzS/cxLszn+mAgI8IKDVHmCBckBBxhvDg1iEMS2hYSUXjpUr8C4oMCFH1SPsr7OzwwFIh4JnEnqiR40ZgMdqSxyQMulWkLjFzPvY7WL8RXo6ym5mp6JX2V0GaCdP3xrNWGsunZ+AAAKNIfe3Hvp3KABPXRHJdKAXwO3EIvAzhKhGDbFtNKoJGxsNcScpCiUUCGJ7LG9TNQlnjguOhAnWABkZLI58Uhnl8AijHj6OJoRSRtfqMOLYxiIaApRyCCBEcwVDJHewRPNIKuMVHon8wSdaLEKZFLcMo1C8Zn0UMkoe7Q8bx2NwzbqOc28Ul95IXhyxXiRz48MizcuxK40kS8yY37FUDRiEB7yA06jvGSfhlpymtepUZVloelPqeIA1HIWMkkf7w8bxGILmuq58/kZx6Y10VNX5XyRz0zkWaT6AvCrGQVWP8sr8jqVqwCA84AUMor5nnJoHteQ0rScEpypz6oWhinR71fB3WwBYg61NVk43y/rHS9uYUUM9AAAAAA==') format('woff2'),
  url('iconfont.woff?t=1580292909129') format('woff'),
  url('iconfont.ttf?t=1580292909129') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1580292909129#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e612";
}

